[submodule "git/hackernews"]
	path = git/hackernews
	url = https://github.com/fabacino/hackernews.el.git
[submodule "git/swiper"]
	path = git/swiper
	url = https://github.com/fabacino/swiper.git
[submodule "git/magit"]
	path = git/magit
	url = https://github.com/fabacino/magit.git
[submodule "git/php-mode"]
	path = git/php-mode
	url = https://github.com/fabacino/php-mode.git
[submodule "git/counsel-gtags"]
	path = git/counsel-gtags
	url = https://github.com/fabacino/emacs-counsel-gtags.git
